@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 214 17% 8%;
        --foreground: 218 7% 78%;
        --muted: 214 12% 15%;
        --muted-foreground: 214 12% 65%;
        --popover: 214 17% 5%;
        --popover-foreground: 218 7% 88%;
        --card: 214 17% 6%;
        --card-foreground: 218 7% 83%;
        --border: 214 7% 13%;
        --input: 214 7% 16%;
        --primary: 220 6.98% 83.14%;
        --primary-foreground: 216 16.13% 6.08%;
        --secondary: 216 19.38% 16.05%;
        --secondary-foreground: 212 21.64% 90.54%;
        --accent: 214 17% 23%;
        --accent-foreground: 214 17% 83%;
        --destructive: 0 100% 28.64%;
        --destructive-foreground: 0 0% 100%;
        --ring: 5 85% 54%;
        --highlight: 5 85% 54%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans text-foreground antialiased;
    }

    ::-webkit-scrollbar {
        @apply w-2.5;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-foreground/25;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-m-20 font-heading font-bold tracking-tight;
    }

    h1 {
        @apply text-3xl font-extrabold md:text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    p {
        @apply text-base leading-relaxed;
    }

    a {
        @apply underline-offset-2;
    }
}
