@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 51 47% 4%;
        --foreground: 51 28% 99%;
        --muted: 51 14% 9%;
        --muted-foreground: 51 11% 72%;
        --popover: 54 50% 3.92%;
        --popover-foreground: 51 28% 99%;
        --card: 51 26.67% 6.07%;
        --card-foreground: 51 28% 99%;
        --border: 51 10% 10%;
        --input: 51 10% 10%;
        --primary: 220 6.98% 83.14%;
        --primary-foreground: 216 16.13% 6.08%;
        --secondary: 51 6% 18%;
        --secondary-foreground: 51 6% 78%;
        --accent: 51 6% 18%;
        --accent-foreground: 51 6% 78%;
        --destructive: 6 100% 65%;
        --destructive-foreground: 0 54.29% 6.86%;
        --ring: 40.71 100% 50%;
        --highlight: 5 85% 54%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans text-foreground antialiased;
    }

    ::-webkit-scrollbar {
        @apply w-2.5;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-foreground;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-m-20 font-heading font-bold tracking-tight;
    }

    h1 {
        @apply text-3xl font-extrabold md:text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    p {
        @apply text-base leading-relaxed;
    }

    a {
        @apply underline-offset-2;
    }
}
